/*Holds main content div*/
/*NOTE: If making changes to div-wrap size, remember to also change data-pos of list elements*/

#div-wrap {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  overflow: hidden;
  position: relative !important;
}

/*Holds sliding pages*/
#content-wrap {
  width: 270vw;
  position: relative;
  left: 0;
  transition: left .5s ease-in-out;
}

.main-content {
  float: left;
  width: 90vw;
}

#home, 
#content, 
#about {
  width: 90vw;
}