
/*Holds main content div*/
/*NOTE: If making changes to div-wrap size, remember to also change data-pos of list elements*/

#div-wrap {
  width: 78vw;
  height: 35vw;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  overflow: hidden;
}

/*Holds sliding pages*/

#content-wrap {
  width: 234vw;
  position: relative;
  left: 0px;
  transition: left .5s ease-in-out;
}

.main-content {
  float: left;
  height: 86.5%;
  white-space: normal;
  width: 78vw;
  padding-top: 5vw;
}

#home {
  width: 78vw;
}

#content {
  width: 78vw;
}

#about {
  width: 78vw;
}

