@import url('https://fonts.googleapis.com/css?family=Raleway:300');

body {
  background-image: url('../img/home-background.jpg');
  background-size: cover;
  margin: 0 !important;
} 

#playerChart {
  float: right;
  background: rgba(100, 100, 100, 0.25);
}

#fixed-header {
  width: 100%;
  padding-top: 2em;
  height: 3.5em;
  text-align: center;
  background-color: #fff;
}

#fixed-footer {
  width: 100%;
  height: 5em;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
}

.main-content {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.home-content {
  text-align: justify;
}

h1.home-content {
  line-height: 1.5 !important; 
  margin-left: 1em;
  color: #66E0FF;
  letter-spacing: 1px;
}

h4.home-content {
  line-height: 1.5 !important; 
  margin-left: 2em;
}

.about-content {
  width: 30em;
  text-align: justify;
}

h1.about-content {
  margin-left: 1em;
}

p.about-content {
  margin-left: 2em;
  line-height: 1.3 !important; 
}

h4.about-content {
  margin-left: 2em;
}

#logo-link {
  color: #000;
  letter-spacing: 1px;
  font-size: 22;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

#email-link {
  color: #66E0FF;
  letter-spacing: 1px;
  font-size: 22;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

#left-wrapper {
  float:left;
  width: 15em;
}

#stat-selector {
  display: block;
  margin: 0 auto;
}

#dom {
  margin-top: 15%;
}

.desc {
  text-align: center;
  margin: 0;
  padding: 0;
}

#chart-label {
  color: #fff;
  margin: 0;
  padding: 0;
}

#blue{
  color: #66E0FF;
}
